<H1>Test3</H1>

<div style="height: 75vh">

<Splitter Vertical>
    <This>
        <Splitter>
            
            <This>
                <Scaler>
                    <Repeater Count=5>
                        This is a clock: <Clock/><br>
                    </Repeater>
                </Scaler>
            </This>

            <Other><image style="width: 100%;" src="img/IMG_4885.JPG"/></Other>
        </Splitter>
    </This>
    <Other>
        <Splitter>
            <This>
                <Scaler>
                    <image style="width: 100%;" src="img/IMG_5133.JPG"/>
                </Scaler>
            </This>
            <Other>This is another clock: <Clock/><br></Other>
        </Splitter>
    </Other>
</Splitter>


</div>