<H1>Test2</H1>

<div style="height: 75vh">

<Splitter Vertical>
    <This>
        <Splitter>
            <This>This is a clock: <Clock/><br></This>
            <Other><image style="width: 100%;" src="img/IMG_4885.JPG"/></Other>
        </Splitter>
    </This>
    <Other>
        <Splitter>
            <This><image style="width: 100%;" src="img/IMG_5133.JPG"/></This>
            <Other>This is another clock: <Clock/><br></Other>
        </Splitter>
    </Other>
</Splitter>


</div>