<H1>Test2</H1>

<div style="height: 75vh">

<Splitter Vertical>
    <This>
        <Splitter>
            <This>This is a clock: <Clock/><br></This>
            <Other><iframe style="height: 100%; width: 100%;" src="https://www.c64.com"></iframe></Other>
        </Splitter>
    </This>
    <Other>
        <Splitter>
            <This><iframe style="height: 100%; width: 100%;" src="https://www.ventuz.com"></iframe></This>
            <Other>This is another clock: <Clock/><br></Other>
        </Splitter>
    </Other>
</Splitter>


</div>