<H1>Test3</H1>

<div style="height: 75vh">

<Splitter Vertical>
    <This>
        <Splitter>
            
            <This>
                <Scaler>
                    <Repeater Count=5>
                        This is a clock: <Clock/><br>
                    </Repeater>
                </Scaler>
            </This>

            <Other><iframe style="height: 100%; width: 100%;" src="https://www.c64.com"></iframe></Other>
        </Splitter>
    </This>
    <Other>
        <Splitter>
            <This>
                <Scaler>
                    <iframe style="height: 100%; width: 100%;" src="https://www.ventuz.com"></iframe>
                </Scaler>
            </This>
            <Other>This is another clock: <Clock/><br></Other>
        </Splitter>
    </Other>
</Splitter>


</div>